/** Base
 ===================== **/
$black: #000;
$white: #FFF;

/** Gray
 ===================== **/
$dark-gray: #1b1c1d;
$menu-darkgray: #1e1f20;
$light-gray: #CFCFCF;

/** Blues
 ===================== **/
$dark-blue: #0a0f13;
$link-blue: #6c98c7;
$gradient-light-blue: #5e83aa;
$gradient-dark-blue: #4a6887;