$black: #000;
$white: #FFF;
$dark-blue: #0a0f13;
$dark-gray: #1b1c1d;
$menu-darkgray: #1e1f20;
$light-gray: #CFCFCF;

$link-blue: #6c98c7;

//-- Gradient Blue --//
$gradient-light-blue: #5e83aa;
$gradient-dark-blue: #4a6887;